<!doctype html>

<html>

<head>
  <title>Jahid's Weather App Service</title>

  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  {{>header}}

  <div class='container'>

    <div class='content'>

    <h1>{{title}}</h1>

    <p>The weather app service was been created by: <a href='https://www.github.com/jahid90' target='_blank'>jahid90</a>.</p>

    <p>The code is hosted on <a href='https://www.github.com/jahid90/weather-app' target='_blank'>github</a>.</p>

    </div>

    {{>footer}}

  </div>
</body>

</html>
