body {
    font-family: arial;
    margin: 0;
    padding: 0;
    height: 100vh;

    background-color: #333;
}

.container {
    background: #fff;

    max-width: 800px;
    margin: 0 auto;
    padding: 2em;

    box-shadow:
        /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
        /* The second layer */
        0 10px 0 -5px #eee,
        /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
        /* The third layer */
        0 20px 0 -10px #eee,
        /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
}

.container table {
    width: 100%;
}

.container table .left {
    text-align: left;
}

.container table th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Navbar */
nav {
    margin: 0;
    padding: 0;
    background-color: #222;
}

nav ul {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;

    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}