body {
    font-family: arial;
    padding: 16px;
    height: 100vh;

    color: #333;

    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid #777;
    margin: 16px auto;
    padding: 16px;
    width: 800px;
    
    color: #888;
    text-align: center;
}

header nav {
    flex-direction: row-reverse;
    padding: 16px;
    background-color: #ddd;
}

h1 {
    font-size: 32px;
}

header nav a {
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    color: #333;
}

.content {
    width: 800px;
    padding: 16px;
    margin: 0px auto;

    flex-grow: 1;
}

input, button {
    padding: 8px;
    font-size: 16px;
}

#error-data {
    color: red;
}

#error-data, #weather-data {
    margin-top: 16px;
    font-size: 16px;
}
